# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows
ehthumbs.db
Thumbs.db
*.com
*.dll
*.exe
*.o
*.so

# IDE
*.sublime-project
*.sublime-workspace
*.esproj
*.code-workspace
codekit-config.json
.idea
.vscode

# Docker
.docker/.env
.docker/docker-compose.yml
.docker/certs/*.crt
.docker/certs/*.key
*.vhost.conf
!wordpress.sample.vhost.conf
database/*
*.sql
web/sonar-project.properties

# Work
*.log
sitemap.xml
sitemap.xml.gz
.htpassword
.htpasswd
.sass-cache/
*.psd
!sprite.psd
*.tif
*.tiff
.svn
*.svn-base
~*
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.scannerwork

# Wordpress
web/wp-content/cache/
web/wp-content/advanced-cache.php
web/wp-content/backup-db/
web/wp-content/backups/
web/wp-content/blogs.dir/
web/wp-content/upgrade/
web/wp-content/wp-cache-config.php
web/wp-content/uploads/
web/wp-content/languages/themes/*-backup-*
web/wp-config.php
web/wp-content/plugins/woocommerce
web/wp-content/plugins/woocommerce-gateway-stripe
web/wp-content/plugins/woocommerce-payments/
web/wp-content/plugins/side-cart-woocommerce/
web/wp-content/languages/

# Front
web/wp-content/themes/foxagency
web/wp-content/themes/egp
web/wp-content/themes/crescendo
web/wp-content/themes/takife
web/wp-content/themes/cardesign
!web/wp-content/themes/default
node_modules/*
