# Proteger le repertoire wp-content
Require all denied

<Files ~ ".(xml|css|css.map|jpe?g|png|gif|js|pdf|eot|svg|ttf|woff|woff2|svg|ico|mp4|ogv|ogg|mp3|mov|webm|webp|json|twig|webmanifest|map)$">
    Require all granted
</Files>
