.container-image-full{
  img{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container-image-full{
    overflow: hidden;
    img{
      width: 150%;
      translate: translateX(-25%);
    }
  }
}