.container-image-full{
  img{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container-image-full{
    overflow: hidden;
    img{
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }
}