.card-pricing{
  border: 1px solid #222;
  padding: 30px;
  margin-bottom: 30px;
  display: block;
  color: inherit;

  &:hover{
    background: #F7F7F7;
    text-decoration: none;
    color: inherit;
  }

  .title-pricing{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .description-pricing{
    min-height: 250px;
  }

  .price{
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .card-pricing .description-pricing{
    min-height: 180px;
  }
}