.container-text-only{
  p{
    max-width: 70%;
    display: inline-block;

  }

  &.left{
    text-align: left;
    p, h1, h2, h3, h4, h5{
      text-align: left !important;
    }
  }
  &.center{
    text-align: center;
    p, h1, h2, h3, h4, h5{
      text-align: center !important;
    }
  }
  &.right{
    text-align: right;
    p, h1, h2, h3, h4, h5{
      text-align: right !important;
    }
  }
}

.container-text-only.right{
  a{
    margin-left: 15px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .container-text-only p{
    max-width: 100%;
  }
}