.visible-xs{
  display: none;
}
.hidden-xs{
  display: block;
}
@media (max-width: 768px) {
  .visible-xs{
    display: block;
  }
  .hidden-xs{
    display: none;
  }

  header {
    &.burger{

      &.is-scrolled{
        .button-menu{
          padding: 0;
        }
      }

      .logo{
        width: 55px;
        margin-top: 15px;
      }
      .button-menu{
        padding: 30px 15px;

        .text{
          display: none;
        }
      }
    }

    .social{
      display: none;
    }
  }

  .menu-navigation{

    ul{
      padding-left: 30px;
      padding-right: 30px;
    }
    .menu{
      width: 100%;
    }
  }

  .strate-hero .scroll-bottom{
    bottom: 30px;
    img{
      width: 60px;
    }
  }



}