p{
  font-size: 18px;
}

h3{
  font-size: 5vw;
  line-height: 5vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-size: 8vw;
  line-height: 7vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

  &.normal{
    font-size: 4vw;
    line-height: 5vw;
  }
  &.big{
    font-size: 8vw;
    line-height: 7vw;
  }
  &.small{
    font-size: 2vw;
    line-height: 3vw;
  }
}

h4{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h5{
  font-family: "Bebas Neue", sans-serif;
}

.container{
  max-width: 1400px;
  width: 90%;
}

.button{
  display: inline-block;
  padding: 15px 40px;
  background: #000;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;

  &.primary{
    background: #000;
  }
  &.secondary{
    background: #888;
  }
}

.white{
  color: #FFF;
}

.strate-hero{
  h4{
    font-size: 3vw;
  }
}

.card-pricing .title-pricing {
  font-family: "Bebas Neue", sans-serif;
}

.white{
  .button{
    background: #FFF;
    color: #000;
  }
}


header.burger .button-menu{
  .text{
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    top: 7px;
    font-size: 25px;
    padding: 0 15px
  }
  .barre{
    background: #FFF;
  }
}

.menu-navigation{
  ul{
    li{
      a{
        font-family: "Bebas Neue", sans-serif;
      }

      ul{
        li{
          a{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          }
        }
      }
    }
  }
}